:host {
  display: block;
}

.app-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: clamp(32px, 5vw, 200px);
  padding-top: clamp(0px, 2vw, 48px);
  height: 43px;

  @media (max-width: 768px) {
     .app-header {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding-bottom: 16px;
  }}
  

  .sidebar-toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0;

    @media (max-width: 1200px) {
      opacity: 1;
    }
  }


  &.placeholder {
    justify-content: space-between;
    .sidebar-toggle-placeholder {
      width: 29px;
      height: 29px;
    }
  }
}

.page-title-mobile {
  display: none;
  padding-inline: clamp(32px, 5vw, 200px);
  margin-bottom: 16px;

  @media (max-width: 768px) {
    display: block;
  }

}
