.events-container {
  margin: 24px 0 0 100px;
}

.path {
  margin-bottom: 28px;
}

.events-list {
  margin-top: 20px;
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  margin: 20px 0 24px;
  gap: 20px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 20px;
}

@media (max-width: 1536px) {
  .events-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 1200px) {
  .events-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 900px) {
  .events-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .events-list {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media (max-width: 375px) {
  .events-list {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
