<div class="events-container">
  <app-bread-crumb></app-bread-crumb>
  <app-search-container (search)="onSearch($event)"> </app-search-container>

  <ng-container *ngIf="events$ | async as data">
  <div class="events-list">
    <app-event-card
      *ngFor="let e of data.results"
      [event]="e">
    </app-event-card>
  </div>

    <app-pagination
      class="pagination-container"
      [metaData]="data.metaData"
      (pageChange)="onPageChange($event)"
    >
    </app-pagination>
  </ng-container>
</div>
