<div class="modal-backdrop" (click)="close()">
  <div class="register-modal" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="close()">
      <img src="/icons/events/Close_MD.jpg" alt="Закрыть" />
    </button>
    <h3>{{ "EVENTS-PAGE.MODAL.TITLE" | translate }}</h3>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        class="events-name-input"
      >
        <mat-label>{{ "EVENTS-PAGE.MODAL.FIELDS.NAME" | translate }}</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        floatLabel="always"
        class="events-name-input"
      >
        <mat-label>{{
          "EVENTS-PAGE.MODAL.FIELDS.PHONE" | translate
        }}</mat-label>
        <input matInput formControlName="phone" />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        floatLabel="always"
        class="events-name-input"
      >
        <mat-label>{{
          "EVENTS-PAGE.MODAL.FIELDS.EMAIL" | translate
        }}</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        floatLabel="always"
        class="events-name-input"
      >
        <mat-label>{{
          "EVENTS-PAGE.MODAL.FIELDS.ADDITIONAL_INFO" | translate
        }}</mat-label>
        <textarea matInput formControlName="additionalInfo" rows="3"></textarea>
      </mat-form-field>

      <div class="buttons">
        <button type="submit" class="save-btn">
          {{ "EVENTS-PAGE.MODAL.BUTTONS.SAVE" | translate }}
        </button>
        <button (click)="close()" class="cancel-btn">
          {{ "EVENTS-PAGE.MODAL.BUTTONS.CANCEL" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
