.certificates-container {
   margin: 24px 0 0 100px;
}

.path {
  margin-bottom: 28px;
}
.certificates-content {
  display: flex;
}

h2 {
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 24px;
}

.certificates-info {
  width: 855px;
  background: #F9F9F9;
  border-radius: 8px;
  padding-inline: 32px;
}

@media (max-width: 1920px) {
  .certificates-info.single-role {
    width: 1450px !important;
  }
}   

@media (max-width: 1536px) {
  .certificates-container{
    padding-left: 35px;
  }
  .certificates-info.single-role {
    width: 1168px !important;
  }
} 

@media (max-width: 1200px) {
   .certificates-container{
    padding-left: 100px;
  }
  .certificates-info.single-role {
    width: 936px !important;
  }
}  

@media (max-width: 900px) {
   .certificates-container{
    padding-left: 50px;
  }
  .certificates-info.single-role {
    width: 736px !important;
  }
}  

@media (max-width: 600px) {
   .certificates-container{
    padding-left: 32px;
  }
  .certificates-info.single-role {
    width: 472px !important;
  }
}  
@media (max-width: 375px) {
   .certificates-container{
    padding-left: 16px;
  }
  .certificates-info.single-role {
    width: 279px !important;
  }
}  