<div class="cards">
  <div class="card">
    <div class="card__header">
      <a routerLink="" class="card__link">
      <img src="icons/administration/Users.svg" alt="" class="card__icon">
      <h3 class="card__title">Пользователи</h3>
        </a>
    </div>
    <p class="card__text">
      Можно просмотреть список пользователей с возможностью фильтрации и поиска по имени или по первой букве фамилии.
    </p>
  </div>

  <div class="card">
    <div class="card__header">
      <a routerLink="" class="card__link">
      <img src="icons/administration/link.svg" alt="" class="card__icon">
      <h3 class="card__title">Полезные сервисы</h3>
        </a>
    </div>
    <p class="card__text">
      Можно просмотреть, создать, отредактировать и удалить полезный сервис.
    </p>
  </div>

  <div class="card">
    <div class="card__header">
      <a routerLink="/" class="card__link">
      <img src="icons/administration/Map.svg" alt="" class="card__icon">
      <h3 class="card__title">Мероприятия</h3>
        </a>
    </div>
    <p class="card__text">
       Можно просмотреть, создать, отредактировать и удалить мероприятие, а также, найти нужное с помощью поиска и фильтрации.
    </p>
  </div>
</div>
