@use 'colors' as *;

body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: $h1-color;
  font-size: 40px;
  font-weight: 500;
  margin: 0;
  @media (max-width: 768px) {
    font-size: 26px;
  }
}
h2 {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
h4 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
p1 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
p2 {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
button {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

@media (max-width: 375px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }
  p2 {
    font-size: 12px;
  }
  button {
    font-size: 14px;
  }
}
