<div class="sections" *ngIf="tabs.length">
  <div
    class="section-btn"
    *ngFor="let tab of tabs; let i = index"
    [class.active]="selectedIndex === i"
    (click)="onTabClick(i)"
  >
    <div class="info">
      <h3>{{ tab.title }}</h3>
      <p *ngIf="tab.subtitle">{{ tab.subtitle }}</p>
    </div>
  </div>
</div>

<div class="section-content">
  <ng-container *ngIf="role === 'employee' && selectedPost">
    <div class="info-row">
      <div class="info-item">
        <p class="info-label">Должность</p>
        <p class="info-value">{{ selectedPost.postName.name }}</p>
      </div>
      <div class="info-item">
        <p class="info-label">Ставка</p>
        <p class="info-value">{{ selectedPost.rate }}</p>
      </div>
    </div>

    <div class="info-row info-row--single">
      <div class="info-item full-width">
        <p class="info-label">Место работы</p>
        <p class="info-value">{{ selectedPost.departments[0].name }}</p>
      </div>
    </div>

    <div class="info-row">
      <div class="info-item">
        <p class="info-label">Тип должности</p>
        <p class="info-value">{{ selectedPost.postType.name }}</p>
      </div>
      <div class="info-item">
        <p class="info-label">Вид занятости</p>
        <p class="info-value">{{ selectedPost.employmentType }}</p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="role === 'student' && selectedEducation">
    <div class="info-row">
      <div class="info-item">
        <p class="info-label">Уровень образования</p>
        <p class="info-value">
          {{ selectedEducation.educationLevel.name }}
        </p>
      </div>
      <div class="info-item">
        <p class="info-label">Статус</p>
        <p class="info-value">
          {{ selectedEducation.educationStatus.name }}
        </p>
      </div>
    </div>

    <div class="info-row info-row--single">
      <div class="info-item full-width">
        <p class="info-label">Факультет</p>
        <p class="info-value">{{ selectedEducation.faculty.name }}</p>
      </div>
    </div>

    <div class="info-row">
      <div class="info-item">
        <p class="info-label">Направление</p>
        <p class="info-value">
          {{ selectedEducation.educationDirection.name }}
        </p>
      </div>
      <div class="info-item">
        <p class="info-label">Группа</p>
        <p class="info-value">{{ selectedEducation.group.name }}</p>
      </div>
    </div>
  </ng-container>
</div>
