<div class="order-section">
  <h3>{{ 'CERTIFICATES-PAGE.ORDER_SECTION.TITLE' | translate }}</h3>

  <mat-form-field
    appearance="outline"
    floatLabel="always"
    class="wide-field type-field"
     [ngClass]="{ 'single-role': !hasBothRoles }"
  >
    <mat-label>{{ 'CERTIFICATES-PAGE.ORDER_SECTION.TYPE_LABEL' | translate }}</mat-label>
    <mat-select [(value)]="selectedType">
      <mat-option *ngFor="let t of types" [value]="t.value">
        {{ t.viewValue }}
      </mat-option>
    </mat-select>
    <img
      matSuffix
      src="/icons/certificates/Chevron_Down.svg"
      class="custom-select-arrow"
      alt=""
    />
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    floatLabel="always"
    class="wide-field kind-field"
    [ngClass]="{ 'single-role' : !hasBothRoles }"
  >
    <mat-label>{{ 'CERTIFICATES-PAGE.ORDER_SECTION.KIND_LABEL' | translate }}</mat-label>
    <mat-select [(value)]="selectedKind">
      <mat-option *ngFor="let k of kinds" [value]="k.value">
        {{ k.viewValue }}
      </mat-option>
    </mat-select>
    <img
      matSuffix
      src="/icons/certificates/Chevron_Down.svg"
      class="custom-select-arrow"
      alt=""
    />
  </mat-form-field>

  <button class="order-btn" (click)="onOrderClick()">{{ 'CERTIFICATES-PAGE.ORDER_SECTION.BUTTON' | translate }}</button>
</div>
