.page-container {
  display: flex;
  flex-direction: column;
  padding-top: 69px;
  padding-left: 82px;
  height: calc(100vh - 145px);
}

.services-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 20px;
}

@media (max-width: 1536px) {
  .page-container {
    padding-left: 18px;
    height: calc(100vh - 105px);
  }
}

@media (max-width: 1200px) {
  .page-container {
    padding-left: 0;
    align-items: center;
  }
}

@media (max-width: 900px) {
  .page-container {
    align-items: center;
    padding-top: 57px;
  }
}
@media (max-width: 600px) {
  .page-container {
    align-items: center;
    padding-top: 57px;
  }
}
@media (max-width: 375px) {
  .page-container {
    align-items: center;
    padding-top: 57px;
  }
}
