<div class="page-container">
<div class="path">
  <app-bread-crumb></app-bread-crumb>
</div>
  <ng-container *ngIf="services$ | async as services">
    <div class="services-list">
      <app-useful-services-card
        *ngFor="let item of services.results"
        [service]="item"
      ></app-useful-services-card>
    </div>

    <div class="pagination-container">
    <app-pagination
      [metaData]="services.metaData"
      (pageChange)="onPageChange($event)">
    </app-pagination>
  </div>
  </ng-container>
</div>
