<div class="not-found-page">
  <div class="ribbons">
    <img src="icons/lenta1.svg" alt="Ошибка" class="ribbon ribbon--1">
    <img src="icons/lenta2.svg " alt="Ошибка" class="ribbon ribbon--2">
  </div>

  <div class="content">
    <div class="code">404</div>
    <div class="titles">
      <h1>Page not found</h1>
      <h2>Страница не найдена</h2>
    </div>
    <button class="btn-home">ВЕРНУТЬСЯ НА ГЛАВНУЮ</button>

    <div class="explanation">
      <h3>Что случилось?</h3>
      <p>Вероятно такой страницы не существует или вы ошиблись при вводе адреса в строку браузера</p>
    </div>
  </div>
</div>