<div class="profile-page">
  <div class="profile-container">
    <div class="column-left">
      <div class="photo-wrapper" (click)="onClickPhotoInput(fileInput)">
        <input
          type="file"
          #fileInput
          accept="image/*"
          hidden
          (change)="onFileChange($event)"
        />

        <div class="photo-overlay-loading" *ngIf="isUploading">
          <div class="spinner"></div>
        </div>
        <img
          *ngIf="previewUrl; else serverAvatar"
          [src]="previewUrl"
          alt="Preview avatar"
          class="profile-photo"
        />
        <ng-template #serverAvatar>
          <img
            *ngIf="avatarUrl$ | async as url"
            [src]="url"
            alt="фото профиля"
            class="profile-photo"
          />
        </ng-template>
        <div class="photo-overlay-hover">
          <span class="overlay-text">Изменить фото</span>
        </div>
      </div>

      <div class="personal-data">
        <h3 class="info-section__title">
          {{ "PROFILE.PERSONAL_DATA" | translate }}
        </h3>

        <ng-container *ngIf="profile$ | async as profile">
          <div class="info-block">
            <p class="info-label">{{ "PROFILE.GENDER" | translate }}</p>
            <p class="info-value">
              {{ profile.gender === "Female" ? "Женский" : profile.gender }}
            </p>
          </div>

          <div class="info-block">
            <span class="info-label">{{
              "PROFILE.BIRTH_DATE" | translate
            }}</span>
            <p class="info-value">
              {{ profile?.birthDate | date : "dd.MM.yyyy" }}
            </p>
          </div>

          <div class="info-block">
            <span class="info-label">{{
              "PROFILE.CITIZENSHIP" | translate
            }}</span>
            <p class="info-value">{{ profile?.citizenship?.name }}</p>
          </div>

          <div class="info-block">
            <span class="info-label">{{ "PROFILE.SNILS" | translate }}</span>
          </div>

          <div class="info-block info-block--last">
            <span class="info-label">{{ "PROFILE.EMAIL" | translate }}</span>
            <p class="info-value">{{ profile?.email }}</p>
          </div>
        </ng-container>
      </div>

      <div class="contacts">
        <h3 class="info-section__title">
          {{ "PROFILE.CONTACTS" | translate }}
        </h3>

        <div class="info-block">
          <span class="info-label">{{ "PROFILE.PHONE" | translate }}</span>
          <p class="info-value">{{ primaryPhone$ | async }}</p>
        </div>

        <div class="info-block">
          <span class="info-label">{{ "PROFILE.PHONE_2" | translate }}</span>
          <p class="info-value">{{ secondaryPhone$ | async }}</p>
        </div>

        <div class="info-block">
          <span class="info-label">{{
            "PROFILE.ADDITIONAL_EMAIL" | translate
          }}</span>
          <p class="info-value">{{ additionalEmail$ | async }}</p>
        </div>

        <div class="info-block info-block--last">
          <span class="info-label">{{ "PROFILE.ADDRESS" | translate }}</span>
          <p class="info-value">{{ (profile$ | async)?.address }}</p>
        </div>
      </div>
    </div>

    <div class="column-right">
      <ng-container *ngIf="profile$ | async as profile">
        <div class="name">
          <h2>
            {{ profile.lastName }} {{ profile.firstName }}
            {{ profile.patronymic }}
          </h2>
        </div>
      </ng-container>
      <div class="more-info">
        <div class="sections">
          <div
            class="section-btn edu"
            [class.active]="selectedSection === 'edu'"
            (click)="selectSection('edu')"
          >
            <h3>{{ "PROFILE-INFO.EDUCATION_TAB" | translate }}</h3>
          </div>
          <div
            class="section-btn work"
            [class.active]="selectedSection === 'work'"
            (click)="selectSection('work')"
          >
            <h3>{{ "PROFILE-INFO.WORK_TAB" | translate }}</h3>
          </div>
        </div>

        <div class="section-content">
          <ng-container *ngIf="selectedSection === 'edu'">
            <ng-container *ngIf="educationRecord$ | async as rec">
              <div *ngFor="let entry of rec.educationEntries">
                <div class="education-header">
                  <h4>
                    {{ entry.educationLevel.name }}
                  </h4>
                  <h4>
                    {{ entry.educationStatus.name }}
                  </h4>
                </div>

                <div class="education-details">
                  <div class="info-row">
                    <div class="info-item">
                      <p class="info-label">
                        {{ "PROFILE-INFO.YEARS_OF_STUDY" | translate }}
                      </p>
                      <p class="info-value">{{ entry.educationYears.name }}</p>
                    </div>
                    <div class="info-item">
                      <p class="info-label">
                        {{ "PROFILE-INFO.CREDIT_BOOK" | translate }}
                      </p>
                      <p class="info-value">{{ entry.creditBooknumber }}</p>
                    </div>
                  </div>
                  <div class="info-row">
                    <div class="info-item">
                      <p class="info-label">
                        {{ "PROFILE-INFO.EDU_FORM" | translate }}
                      </p>
                      <p class="info-value">{{ entry.educationForm.name }}</p>
                    </div>
                    <div class="info-item">
                      <p class="info-label">
                        {{ "PROFILE-INFO.EDU_BASE" | translate }}
                      </p>
                      <p class="info-value">{{ entry.educationBase.name }}</p>
                    </div>
                  </div>
                  <div class="info-row">
                    <div class="info-item">
                      <p class="info-label">
                        {{ "PROFILE-INFO.FACULTY" | translate }}
                      </p>
                      <p class="info-value">{{ entry.faculty.name }}</p>
                    </div>
                  </div>
                  <div class="info-row">
                    <div class="info-item">
                      <p class="info-label">
                        {{ "PROFILE-INFO.DIRECTION" | translate }}
                      </p>
                      <p class="info-value">
                        {{ entry.educationDirection.name }}
                      </p>
                    </div>
                  </div>
                  <div class="info-row">
                    <div class="info-item">
                      <p class="info-label">
                        {{ "PROFILE-INFO.PROFILE" | translate }}
                      </p>
                      <p class="info-value">
                        {{ entry.educationProfile.name }}
                      </p>
                    </div>
                  </div>
                  <div class="info-row">
                    <div class="info-item">
                      <p class="info-label">
                        {{ "PROFILE-INFO.COURSE" | translate }}
                      </p>
                      <p class="info-value">{{ entry.course }}</p>
                    </div>
                    <div class="info-item">
                      <p class="info-label">
                        {{ "PROFILE-INFO.GROUP" | translate }}
                      </p>
                      <p class="info-value">{{ entry.group.name }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="selectedSection === 'work'">
            <ng-container *ngIf="workRecord$ | async as work">
              <div class="education-header">
                <h4>Стаж</h4>
                <div class="column-title"></div>
              </div>
              <div class="education-details">
                <div class="info-row">
                  <div class="info-item">
                    <p class="info-label">
                      {{ "PROFILE-INFO.TOTAL_EXPERIENCE" | translate }}
                    </p>
                    <p class="info-value">
                      {{ getExperience(work, "Common")?.years }} года
                      {{ getExperience(work, "Common")?.months }} месяца
                    </p>
                  </div>
                  <div class="info-item">
                    <p class="info-label">
                      {{ "PROFILE-INFO.PEDAGOGICAL_EXPERIENCE" | translate }}
                    </p>
                    <p class="info-value">
                      {{ getExperience(work, "Pedagogical")?.years }} года
                      {{ getExperience(work, "Pedagogical")?.months }} месяца
                    </p>
                  </div>
                </div>

                <div class="info-row">
                  <div class="info-item">
                    <p class="info-label">
                      {{ "PROFILE-INFO.CURRENT_PLACE_EXPERIENCE" | translate }}
                    </p>
                    <p class="info-value">
                      {{ getExperience(work, "OnCurrentPlace")?.years }} года
                      {{ getExperience(work, "OnCurrentPlace")?.months }} месяца
                    </p>
                  </div>
                  <div class="info-item"><!-- пустой для выравнивания --></div>
                </div>
              </div>
              <div *ngFor="let post of work.posts">
                <div class="education-header">
                  <h4>{{ post.postName.name }}</h4>
                  <div class="column-title"></div>
                </div>
                <div class="education-details">
                  <div class="info-row">
                    <div class="info-item">
                      <p class="info-label">
                        {{ "PROFILE-INFO.EMPLOYMENT_TYPE" | translate }}
                      </p>
                      <p class="info-value">{{ post.employmentType }}</p>
                    </div>
                    <div class="info-item">
                      <p class="info-label">
                        {{ "PROFILE-INFO.RATE" | translate }}
                      </p>
                      <p class="info-value">{{ post.rate }}</p>
                    </div>
                  </div>
                  <div class="info-row">
                    <div class="info-item full-width">
                      <p class="info-label">
                        {{ "PROFILE-INFO.WORKPLACE" | translate }}
                      </p>
                      <p class="info-value">{{ post.departments[0].name }}</p>
                    </div>
                  </div>
                  <div class="info-row">
                    <div class="info-item">
                      <p class="info-label">
                        {{ "PROFILE-INFO.POST_TYPE" | translate }}
                      </p>
                      <p class="info-value">{{ post.postType.name }}</p>
                    </div>
                  </div>
                  <div class="info-row">
                    <div class="info-item">
                      <p class="info-label">
                        {{ "PROFILE-INFO.DATE_START" | translate }}
                      </p>
                      <p class="info-value">
                        {{ post.dateStart | date : "dd.MM.yyyy" }}
                      </p>
                    </div>
                    <div class="info-item">
                      <p class="info-label">
                        {{ "PROFILE-INFO.DATE_END" | translate }}
                      </p>
                      <p class="info-value">
                        {{ post.dateEnd | date : "dd.MM.yyyy" }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
