<div class="container">
  <div class="image-container">
    <img src="/assets/Illustration.svg" alt="" />
  </div>
  <div class="form">
    <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h1>Вход в аккаунт</h1>

      <mat-form-field
        appearance="outline"
        floatLabel="always"
        class="wide-field"
      >
        <mat-label>Электронная почта</mat-label>
        <input matInput formControlName="email" type="email" />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        floatLabel="always"
        class="wide-field"
      >
        <mat-label>Пароль</mat-label>
        <input matInput formControlName="password" type="password" />
      </mat-form-field>

      <label class="custom-switch">
        <input type="checkbox" formControlName="rememberMe" />
        <span class="slider"></span>
        <span class="label">Запомнить меня</span>
      </label>
      <button
        type="submit"
        [disabled]="isLoading"
        class="login-btn"
      >
        ВОЙТИ</button
      >
    </form>
  </div>
</div>
<router-outlet></router-outlet>
