.login-form {
  position: absolute;
  width: 622px;
  height: 453px;
  top: 313.5px;
  left: 1098px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
